
.navbar-light .navbar-nav .nav-link{
    color: beige;
    font-size: 20px;
    padding: 8px 25px;
    border-radius:5px;
    margin:0 5px;
    font-family:'Courier New', Courier, monospace;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: white;
}


.navbar-light .navbar-brand{
    color: black;
    font-size: 30px;
}
.logo{
    height: 65px;
    width: 80px;
    position:sticky;
}


.heading{
    color:beige;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    display: block;
    margin-top: -165px;
    margin-left:-15px;
    font-size: 52px;
}

/*media Query*/
@media only screen and (max-width:600px){
    header{
        background-position: 20% 33%;
    }
}
/*Common styling ends here*/


.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox{
    position: relative;
    max-width: 600px;

}

.content .textBox h2{
    color: #fff;
    font-size: 4em;
    line-height: 1.5em;
    font-weight: 900;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content .textBox h2 span{
    font-size: 2em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.content .textBox p{
    color: #fff;
    font-family: 'Courier New', Courier, monospace;

}

.content .textBox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #fff;
    color:#111;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;

}

.content .imgBox{
    width: 600px;
    display: flex;
    padding-right: 50px;
    margin-top:20px;
    justify-content: flex-end;
}

.content .imgBox img{
    max-width: 260px;
}

.thumb{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%);
    display: flex;
}

.thumb li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    margin-top:20px;
    cursor:pointer;
    transition: 0.5s; 
}

.thumb li img{
    max-width: 80px;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: block;
    justify-content: space-between;
    align-items: center;
    background: black;
    transition: 0.5s;
}

@media only screen and (max-width:480px){
    .content .textBox{
        font-size: 0.41em;
    }
    .content .imgBox img{
        max-width: 120px;
    }
}
