
.navbar-light .navbar-nav .nav-link{
    color: beige;
    font-size: 20px;
    padding: 8px 25px;
    border-radius:5px;
    margin:0 5px;
    font-family:'Courier New', Courier, monospace;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: white;
}


.navbar-light .navbar-brand{
    color: black;
    font-size: 30px;
}
.logo{
    height: 65px;
    width: 80px;
    position:sticky;
}


.heading{
    color:beige;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    display: block;
    margin-top: -165px;
    margin-left:-15px;
    font-size: 52px;
}

header{
    margin-top:60px;
    display: flex;
    height: 300px;
    background-size:cover;
    background-image: url("black\ about.jpg");
}
/*media Query*/
@media only screen and (max-width:600px){
    header{
        background-position: 20% 33%;
    }
}
/*Common styling ends here*/