* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  section {
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  .column {
    width: 100%;
    padding: 0 1em 1em 1em;
    text-align: center;
  }
  h3 {
    font-size:24px;
    font-weight: 600;
    color: #1f194c;
    margin: 1em 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  p {
    color: #575a7b;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
  }
 